@charset "utf-8";
/* CSS Document */

#middle{
	margin-top: 100px;
}

#buttom{
	margin-bottom: 15px;
}


/*table的相关设置样式*/

/*表头的样式设置：居中，字体大小*/
.thead-style{
	text-align:center;
	font-size: 18px;
}

.tbody-style{
	text-align:center;
	font-size: 15px;
}
